/*Global Styling*/
body {
	background-color: var(--bg-primary);
	font-family: var(--main-font);
}






/*Font Styling*/
h1 {
	font-size: 3rem;
	font-weight: 700;
	color: var(--heading-primary);
}


h2 {
	font-weight: 600;
	color: var(--heading-primary);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}


p {
	font-weight: 500;
	color: var(--text-primary);
}


.shop-now__text {
	font-weight: 600;
	color: var(--heading-primary);
	text-transform: uppercase;
	letter-spacing: 0.3rem;

	&::after {
		content: url("img/icon-arrow.svg");
		padding-left: 15px;
		vertical-align: middle;
	}
}






/*Header Styling*/
header {
	position: absolute;
	padding: 40px;
	z-index: 1;
}


.header-holder {
	&__mobile {
		display: block;

		@media all and (min-width: 782px) {
			display: none;
		}
	}

	&__desktop {
		display: none;

		@media all and (min-width: 782px) {
			display: block;
		}
	}
}






/*Hero Section Styling*/
.hero-section {
	position: relative;

	@media all and (min-width: 782px) {
		display: flex;
		/*height: 66vh*/
	}
}


.hero-image__holder {
	@media all and (min-width: 782px) {
		flex: 0 1 60%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	picture {
		min-width: 100%;
		min-height: 100%;

		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
}


.hero-content__holder {
	.hero-text__slide {
		padding: 40px 80px;
		max-width: 550px;
		margin: 0 auto;
	}

	@media all and (min-width: 782px) {
		flex: 0 1 40%;
	}
}


.hero-navigation__holder {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	max-width: 120px;
	width: 100%;
	background-color: var(--heading-primary);
	position: absolute;
	top: 0;
	right: 0;
	margin-top: calc(50% - 49px);

	@media all and (min-width: 782px) {
		padding: 15px;
		max-width: 140px;
		margin-right: calc(40% - 140px);
		bottom: 0;
		top: unset;
		margin-top: unset;
	}
}






/*About me Section*/
.about-section {
	@media all and (min-width: 782px) {
		display: flex;
		/*height: 33vh*/
	}
}


.about-image__holder {
	overflow: hidden;

	@media all and (min-width: 782px) {
		flex: 0 1 33%;
	}

	img {
		min-width: 100%;
		min-height: 100%;
	}
}


.about-content__holder {
	@media all and (min-width: 782px) {
		flex: 0 1 40%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px;
	}
}