/*Global Styling*/
body {
	background-color: var(--bg-primary);
	font-family: var(--main-font);
}






/*Font Styling*/
h1 {
	font-size: 3rem;
	font-weight: 700;
	color: var(--heading-primary);
	padding-bottom: 30px;
}


h2 {
	font-weight: 600;
	color: var(--heading-primary);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	padding-bottom: 20px;
}


p {
	font-weight: 500;
	color: var(--text-primary);
}


.shop-now__text {
	font-weight: 600;
	color: var(--heading-primary);
	text-transform: uppercase;
	letter-spacing: 0.7rem;
	display: block;
	padding-top: 40px;

	@media all and (min-width: 782px) {
		padding-top: 20px;
	}

	&::after {
		content: url("img/icon-arrow.svg");
		padding-left: 15px;
		vertical-align: middle;
	}
}






/*Header Styling*/
header {
	position: absolute;
	z-index: 1;
	top: 80px;
	left: 40px;

	@media all and (min-width: 782px) {
		max-width: calc(60vw - 160px);
		left: 80px;
	}
}


.header-holder {
	&__mobile {
		display: block;

		@media all and (min-width: 782px) {
			display: none;
		}
	}


	&__desktop {
		display: none;

		@media all and (min-width: 782px) {
			display: flex;
			max-width: 100%;
		}

		.logo__holder {
			padding-right: 80px;

			img {
				min-width: 62px;
				display: block;
			}
		}
		.desktop-navigation__holder {
			max-width: 100%;

			nav {
				ul {
					display: flex;

					li {
						padding-right: 40px;
						color: var(--bg-primary);
					}
				}
			}
		}
	}
}







/*Hero Section Styling*/
.hero-section {
	@media all and (min-width: 782px) {
		display: flex;
		height: 66.66%;
	}
}


.hero-image__holder {
	display: flex;
	overflow: hidden;

	@media all and (min-width: 782px) {
		flex: 0 1 60%;
	}

	picture {
		min-width: 100%;
		min-height: 100%;

		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
}


.hero-content__holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	.hero-text__slide {
		padding: 40px;
		max-width: 550px;
	}

	@media all and (min-width: 782px) {
		flex: 0 1 40%;
	}
}


.hero-navigation__holder {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	max-width: 120px;
	width: 100%;
	background-color: var(--heading-primary);
	position: absolute;
	top: 0;
	margin-top: -49px;
	right: 0;

	@media all and (min-width: 782px) {
		padding: 15px;
		max-width: 22.2%;
		top: unset;
		right: unset;
		margin-top: unset;
		bottom: 0;
		left: 0;
	}
}






/*About me Section*/
.about-section {
	@media all and (min-width: 782px) {
		display: flex;
		height: 33.33%;
	}
}


.about-image__holder {
	overflow: hidden;

	@media all and (min-width: 782px) {
		flex: 0 1 33%;
	}

	img {
		min-width: 100%;
		min-height: 100%;
	}
}


.about-content__holder {
	@media all and (min-width: 782px) {
		flex: 0 1 40%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.about-text__holder {
		padding: 40px;
		max-width: 550px;
	}
}